.links {
    margin: 2em;
}

a {
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    padding: 0.5em;
    position: relative;
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
}

a:hover {
    background-color: #008CBA;
    color: white;
}

#uploadbtn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.upload_file {
    text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}